<footer class="container-fluid footer-NG">
    <div class="row " style="padding-top:10px;">
        <div class="col">
          <a href="#register">
            <b>About us</b>
          </a><br />
          <a href="#testimonies">
            <b>Testimonials</b>
          </a><br />
          <a href="#">
            <b>Office Address</b>
          </a>
          
        </div>
        <div class="col">
            <a>
              <b>Products</b>
            </a><br />
            <a href="#mobileapp">
              <b>Mobile App</b>
            </a><br />
        </div>
        <div class="col">
          <a routerLink="/terms">
           <b>Terms and Conditions</b> 
          </a>
        </div>
        <div class="col">
            <a routerLink="/terms">
             <b>Connect With Us</b> 
            </a>
          </div>
      </div>
      
  <p class="text-center"><b>RentNaija &copy; {{date}} </b></p>
</footer>