<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
  <h3 class="headertext">Accomdation made Easy</h3>
 
   <app-menu></app-menu>

    <div class="headertext" id="mobileapp">
        <a href="#">
          <img src="../../assets/imgs/rentnaija/google-play-badge.svg" alt="..." class="download" >
        </a>
        <a href="#"  >
            <img src="../../assets/imgs/rentnaija/appstore-badge.svg" alt="..." class="download" >
        </a>
    </div>
  

    
</div>
<div class="howitworks">
  <h1>How It works</h1>
  
</div>
<div id="register">
  <div id="registercontent">
      <h1>Register</h1>
     <h3>Register on the website and login
  using your details for a more personal 
  experience.</h3>
  </div>
</div>

<div id="search">
  <div id="searchcontent">
      <h1>Search</h1>
      <h3>Search for a house, an hotel or 
          hostel on the website. Our search 
          is made easy to fit your need.</h3>
  </div>
    
</div>

<div id="book">
  <div id="bookcontent">
      <h1>Book</h1>
      <h3>Book a house on the 
          website and we will contact you
           for further processing.</h3>
  </div>
    
</div>

<div class="testimonies" id="testimonies">
  <h1 style="text-align:center;color:#ffffff;padding-top:20px">Testimonies</h1>
  <div class="container"> 
  <div class="row">
    <div class=" col-md-4">
     
        <img src="../assets/imgs/rentnaija/customer1.svg" alt="..." class="img-circle " >
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>

    <div class=" col-md-4">
      
        <img src="../assets/imgs/rentnaija/customer2.svg" alt="..."  class="img-circle" >
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>

    <div class=" col-md-4">
      
        <img src="../assets/imgs/rentnaija/customer3.svg" alt="..." class="img-circle">
        <p style="text-align:center;color:#ffffff">"Rent naija has taken the stress of me ,i rent my current place with Zero stress"</p>
    </div>
    </div>
  </div>   
</div>
<div class="subscribe">
<img src="../assets/imgs/rentnaija/subscribe.svg" height="300" width="200" style="margin-left:-1%;margin-top: -50px">
<form class="subscribeform">
        
  <div class="subscribeinput">
      <input type="text" class="form-control " id="subscribeinput" placeholder="lets keep you informed about our latest offerings">

      
  </div>
  
  <button type="submit" class="btn btn-success" id="subscribebutton">Subscribe</button>


</form>
</div>
<div class="partners">
<h1 style="color:#172A3A;padding-top:40px" class="partners_h1">Become a Partner with us</h1>
<div style="padding-top:5px" class="partners_h1">
  <h4 >Are you an agent ? </h4>
  <h4 style="margin-left:10px">Do you own a Property ? </h4>
</div>
<div style="padding-top:20px" class="partners_h1">
  <a routerLink="admin/addproperty" class="btn btn-success">List Property Now</a>
</div>
</div>
<app-footer></app-footer>