<div class="container-fluid ">
  <br />
		<div class="container">
			<div class="row ">
					<div class="">
						<ul class="nav non-active-NG">
							<li class="nav-item">
								<a routerLinkActive="active-NG" class="nav-link text-center" routerLink="/hostel">
									<b>Hostel</b></a>
							</li>
							<li class="nav-item">
								<a routerLinkActive="active-NG" class="nav-link text-center" routerLink="/hotel">
									<b>Hotel</b></a>
							</li>
							<li class="nav-item">
								<a routerLinkActive="active-NG" class="nav-link text-center" routerLink="/rent">
									<b>Accommodation</b></a>
							</li>
						</ul>
					</div>
			</div>
		</div>

		
	</div>