<div class="sidebar" data-color="green" data-image="assets/img/sidebar-5.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
      <div class="logo">
          <a routerLink="/" class="simple-text">
              RentNaija
          </a>
      </div>

      <ul class="nav">
          <!--class="active"-->
          <div>
            <li routerLinkActive="active" >
                <a routerLink="/admin">
                  <p style="padding-right: 30px"><fa-icon icon="home"></fa-icon>
                   Dashboard </p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/hostel">
                  <p style="padding-right: 30px"><fa-icon icon="search"></fa-icon>
                   Search </p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/myprofile">
                  <p style="padding-right: 30px"><fa-icon icon="heart" style="color: Tomato;" ></fa-icon>
                   Favourites </p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/mypayment">
                  <p style="padding-right: 30px"><fa-icon icon="home"></fa-icon>
                   Payments </p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a routerLink="/admin">
                  <p style="padding-right: 30px"><fa-icon icon="user-circle"></fa-icon>
                   My Profile </p>
                </a>
            </li>
            <li routerLinkActive="active" >
                <a  data-target="#complains-menu" data-toggle="collapse">
                    <p style="padding-right: 40px">
                        <fa-icon icon="comments"></fa-icon>
                        Complains </p>
                </a>
            </li>
            <div id="complains-menu" class="collapse">
                <li routerLinkActive="active" >
                    <a routerLink="admin/complains">
                        <p style="padding-right: 40px">
                            <fa-icon icon="comments"></fa-icon>
                            New </p>
                    </a>
                </li>
                <li routerLinkActive="active" >
                    <a routerLink="admin/complains">
                        <p style="padding-right: 40px">
                            <fa-icon icon="comments"></fa-icon>
                            All complains </p>
                    </a>
                </li>
            </div>
           
          </div>
         <div *ngIf="authservice.roleid != 1">
                    <li routerLinkActive="active" >
                        <a  routerLink="admin/addproperty">
                            <p><fa-icon icon="city"></fa-icon>
                            New property</p>
                        </a>
                    </li>    
                    <li routerLinkActive="active" >
                      <a routerLink="admin/subproperty">
                          <i class="pe-7s-graph"></i>
                          <p style="padding-right: 30px">Sub property </p>
                      </a>
                  </li>
                  <li routerLinkActive="active" >
                        <a routerLink="admin/mybank">
                            <p><fa-icon icon="building"></fa-icon>
                            My Bank</p>
                        </a>
                    </li>
          </div>
            
          
        
       
          

      </ul>
</div>
  </div>